fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
opencv-python-headless==4.9.0.80
fpdf2>=2.7.8
Levenshtein>=0.25.0
openai>=1.14.2
python-dotenv>=1.0.1
numpy>=1.26.4
pytesseract>=0.3.10
easyocr>=1.7.1
paddleocr>=2.7.3
paddlepaddle>=2.6.2
